
      <div class="table-responsive-xxl">
        <table class="table table-bordered table-striped table-hover">
        	<thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Month</th>
              <th scope="col">Project Name</th>
              <th scope="col">Status</th>
        	  <th scope="col">Facility</th>
              <th scope="col">Tower</th>
              <th scope="col">BU</th>
              <th scope="col">Subnet</th>
        	  <th scope="col">PAT IP</th>
              <th scope="col">PIDB</th>
              <th scope="col">GDCN ID</th>
              <th scope="col">Partition Name</th>
        	  <th scope="col">ISP</th>
              <th scope="col">Internet Bandwidth (in MB)</th>
              <th scope="col">WBSe</th>
              <th scope="col">RFC</th>
        	  <th scope="col">Implementation Date</th>
              <th scope="col">AMT POC</th>
              <th scope="col">BCP Bandwidth</th>
              <th scope="col">Comments</th>
            </tr>
          </thead>
          <form>
        	  <tbody>
        		<tr>
        		  <th scope="row">1</th>
        		  <td>
        			<select id="month" aria-label="month">
        			  <option selected>month</option>
        			  <option value="Jan">Jan</option>
        			  <option value="Feb">Feb</option>
        			  <option value="Mar">Mar</option>
        			  <option value="Apr">Apr</option>
        			  <option value="May">May</option>
        			  <option value="Jun">Jun</option>
        			  <option value="Jul">Jul</option>
        			  <option value="Aug">Aug</option>
        			  <option value="Sep">Sep</option>
        			  <option value="Oct">Oct</option>
        			  <option value="Nov">Nov</option>
        			  <option value="Dec">Dec</option>
        			</select>
        		  </td>
        		  <td><input type="text" placeholder="Project Name" aria-label="projectName" id="projectName"></td>
        		  <td>
        			<select id="status" aria-label="status">
        				<option selected>Status</option>
        				<option value="Jan">Live</option>
        				<option value="Jan">Decommissioned</option>
        			</select>
        		  </td>
        		  <td>
        			<select id="facility" aria-label="facility">
        			  <option selected>facility</option>
        			  <option value="Jan">BDC4</option>
        			  <option value="Feb">BDC6</option>
        			  <option value="Mar">BDC7</option>
        			  <option value="Apr">BDC9</option>
        			  <option value="May">BDC10</option>
        			  <option value="Jun">BDC11</option>
        			  <option value="Jul">BDC13</option>
        			  <option value="Aug">BDC14</option>
        			</select>
        		  </td>
        		  <td>
        			<select id="facility" aria-label="facility">
        			  <option selected>Tower</option>
        			  <option value="Jan">A</option>
        			  <option value="Feb">B</option>
        			  <option value="Mar">C</option>
        			  <option value="Apr">D</option>
        			  <option value="May">E</option>
        			  <option value="Jun">F</option>
        			  <option value="Jul">G</option>
        			  <option value="Aug">H</option>
        			  <option value="Aug">I</option>
        			</select>
        		  </td>
        		  <td><input type="text"  placeholder="Business Unit" aria-label="bu" id="bu"></td>
        		  <td><input type="text" placeholder="Subnet" aria-label="subnet" id="subnet"></td>
        		  <td><input type="text" placeholder="PAT IP" aria-label="pat" id="pat"></td>
        		  <td><input type="text" placeholder="PIDB" aria-label="pidb" id="pidb"></td>
        		  <td><input type="text" placeholder="GDCN" aria-label="gdcn" id="gdcn"></td>
        		  <td><input type="text" placeholder="Partition Name" aria-label="partition" id="partition"></td>
        		  <td><input type="text" placeholder="ISP" aria-label="isp" id="isp"></td>
        		  <td><input type="text" placeholder="Bandwidth(in Mb)" aria-label="bw" id="bw"></td>
        		  <td><input type="text" placeholder="WBSE" aria-label="wbse" id="wbse"></td>
        		  <td><input type="text" placeholder="RFC" aria-label="rfc" id="rfc"></td>
        		  <td><input type="text" placeholder="Implementation Date" aria-label="implementationDate" id="implementationDate"></td>
        		  <td><input type="text" placeholder="AMT POC" aria-label="amt" id="amt"></td>
        		  <td>
        			<select id="bcp" aria-label="bcp">
        			  <option selected>select</option>
        			  <option value="Jan">Yes</option>
        			  <option value="Feb">No</option>
        			</select>
        		  </td>		  
        		  <td><textarea id="comment" rows="1" cols="50"></textarea></td>
        		</tr>
        	  </tbody>
        	</form>
        </table>
      </div>