<nav class="navbar navbar-expand-lg navbar-light bg-light style="position: fixed;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img src="https://clipground.com/images/accenture-logo-png-16.png" alt="Logo" style="height:25px; width:auto;"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <% if(userName) { %>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">BW Billing Tracker</a>
          </li>
          <li class="nav-item">
            <form class="d-flex" action="/bandwidth/" method="GET" id="locationForm">
              <select id="location" name="location" class="form-control me-2">
                <% if(selectedLocation) { %>
                  <option class="dropdown-item" value="<%= selectedLocation %>" selected><%= selectedLocation %></option>
                <% } else{ %>
                  <option class="dropdown-item">Select Location</option>
                <% } %>
                <% locations.forEach(location => { %>
                  <option class="dropdown-item" value="<%= location %>"><%= location %></option>
                <% }); %>
              </select>
              <button class="btn btn-outline-dark" type="submit">Submit</button>
            </form>
          </li>
        </ul>


        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        <form class="d-flex" action="/user/signout" method="POST">
          <button type="submit" class="btn" style="height: 37.6px;" title="Sign out">
            <i class="fa fa-sign-out" style="font-size:30px;color:rgb(138, 1, 1)"></i>
          </button>
        </form>
        <% } %>
      </div>
    </div>
  </nav>
